@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@theme {
  --color-brand: #58B038;
  --color-brand2: #06448F;

}
.arrow-up {
  animation: arrow-up 1s infinite;
}

@keyframes arrow-up {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateX(2px) translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}


.plus-pattern {
background-color: #1d1d1d;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #1d1d1d 20%, #1d1d1d 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #1d1d1d 20%, #1d1d1d 80%, transparent 80%, transparent) 17.5px 17.5px, linear-gradient(#323232 1.4000000000000001px, transparent 1.4000000000000001px) 0 -0.7000000000000001px, linear-gradient(90deg, #323232 1.4000000000000001px, #1d1d1d 1.4000000000000001px) -0.7000000000000001px 0;
background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
}